Repository AngeloTadeucci/Maple2, pull requests merged in 2024-05, with the labels that each got.

#78 NpcTalk - Job Check on Script
  Maple2.Server.Game/Manager/NpcScriptManager.cs
Labels: Npc Talk / Quest

#93 feat: npc patrol data
  Maple2.Database/Storage/Metadata/MapEntityStorage.cs
  Maple2.File.Ingest/Mapper/MapEntityMapper.cs
  Maple2.Model/Metadata/MapEntity/MapEntity.cs
  Maple2.Model/Metadata/MapEntity/PatrolData.cs
  Maple2.Model/Metadata/MapEntity/SpawnPoint.cs
  Maple2.Model/Metadata/MapEntityMetadata.cs
  Maple2.Server.Game/Manager/Field/FieldManager.State.cs
  Maple2.Server.Game/Manager/Field/FieldManager.cs
  Maple2.Server.Game/Model/Field/Actor/FieldNpc.cs
  start.bat
Labels: Field

#100 More triggers
  Maple2.Database/Maple2.Database.csproj
  Maple2.File.Ingest/Mapper/MapEntityMapper.cs
  Maple2.Server.Game/Commands/TriggerCommand.cs
  Maple2.Server.Game/Model/Field/Actor/FieldNpc.cs
  Maple2.Server.Game/Trigger/TriggerContext.Npc.cs
  Maple2.Server.Game/Trigger/TriggerContext.cs
  Maple2.Server.Web/Controllers/WebController.cs
  Maple2.Server.Web/Maple2.Server.Web.csproj
Labels: Trigger

#118 Auto Complete Exploration Quests
  Maple2.Server.Game/Manager/QuestManager.cs
Labels: Npc Talk / Quest

#119 Check Quests on Crafting
  Maple2.Server.Game/PacketHandlers/MasteryHandler.cs
Labels: Npc Talk / Quest

#120 Player Object Flags
  Maple2.Model/Enum/PlayerObjectFlag.cs
  Maple2.Server.Game/Manager/Field/FieldManager.cs
  Maple2.Server.Game/Model/Field/Actor/FieldPlayer.cs
  Maple2.Server.Game/Packets/ProxyObjectPacket.cs
Labels: Field

#121 Fix: Sending ProxyGameObject packet on player
  Maple2.Server.Game/Manager/ExperienceManager.cs
  Maple2.Server.Game/Manager/Field/FieldManager.State.cs
  Maple2.Server.Game/Model/Field/Actor/FieldNpc.cs
  Maple2.Server.Game/Model/Field/Actor/FieldPlayer.cs
  Maple2.Server.Game/PacketHandlers/MyInfoHandler.cs
  Maple2.Server.Game/Packets/PlayerKillNoticePacket.cs
  Maple2.Server.Game/Packets/ProxyObjectPacket.cs
  Maple2.Server.Game/Session/GameSession.cs
Labels: Field

#122 Handle Job Change for Beginners
  Maple2.Server.Game/Commands/PlayerCommand.cs
  Maple2.Server.Game/Manager/NpcScriptManager.cs
  Maple2.Server.Game/PacketHandlers/JobHandler.cs
  Maple2.Server.Game/Packets/JobPacket.cs
  Maple2.Server.Game/Util/ConditionUtil.cs
Labels: Npc Talk / Quest, Player

#133 Black Market Pt 2
  Maple2.Database/Storage/Game/GameStorage.Club.cs
  Maple2.Database/Storage/Game/GameStorage.Market.cs
  Maple2.Database/Storage/Game/GameStorage.User.cs
  Maple2.Database/Storage/Game/GameStorage.cs
  Maple2.Model/Enum/MailType.cs
  Maple2.Model/Error/BlackMarketError.cs
  Maple2.Model/Game/Market/BlackMarketListing.cs
  Maple2.Model/Game/User/Character.cs
  Maple2.Model/Game/User/IPlayerInfo.cs
  Maple2.Model/Game/User/PlayerInfo.cs
  Maple2.Model/Metadata/Constants.cs
  Maple2.Server.Core/Sync/PlayerInfoUpdateEvent.cs
  Maple2.Server.Core/Sync/PlayerInfoUpdateExtensions.cs
  Maple2.Server.Core/proto/channel/channel.proto
  Maple2.Server.Core/proto/sync.proto
  Maple2.Server.Core/proto/world/world.proto
  Maple2.Server.Game/Manager/BlackMarketManager.cs
  Maple2.Server.Game/Manager/Config/ConfigManager.cs
  Maple2.Server.Game/Manager/MailManager.cs
  Maple2.Server.Game/PacketHandlers/BlackMarketHandler.cs
  Maple2.Server.Game/Packets/BlackMarketPacket.cs
  Maple2.Server.Game/Packets/MailPacket.cs
  Maple2.Server.Game/Service/ChannelService.BlackMarket.cs
  Maple2.Server.Game/Util/Sync/PlayerInfoStorage.cs
  Maple2.Server.Login/Session/LoginSession.cs
  Maple2.Server.World/Containers/BlackMarketLookup.cs
  Maple2.Server.World/Service/WorldService.BlackMarket.cs
  Maple2.Server.World/Service/WorldService.Sync.cs
Labels: Shop / Market

#136 Guild and Party Chat
  Maple2.Server.Core/proto/common.proto
  Maple2.Server.Game/PacketHandlers/UserChatHandler.cs
  Maple2.Server.Game/Service/ChannelService.Chat.cs
  Maple2.Server.World/Service/WorldService.Chat.cs
Labels: Guild, Party

#154 fixed invisible npcs bug & implemented a few mob skill features
  Maple2.File.Ingest/Mapper/SkillMapper.cs
  Maple2.File.Ingest/Mapper/TableMapper.cs
  Maple2.File.Ingest/MapperExtensions.cs
  Maple2.Model/Metadata/Constants.cs
  Maple2.Model/Metadata/SkillMetadata.cs
  Maple2.Model/Metadata/Table/MagicPathTable.cs
  Maple2.Server.Game/Manager/Field/AgentNavigation.cs
  Maple2.Server.Game/Manager/Field/FieldManager.State.cs
  Maple2.Server.Game/Manager/Field/Navigation.cs
  Maple2.Server.Game/Model/Field/Actor/Actor.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/AiState.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/AnimationState.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/MovementState.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/MovementStateStates/MovementState.SkillCast.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/MovementStateTasks/MovementState.SkillCastTask.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/SkillState.cs
  Maple2.Server.Game/Model/Field/Actor/FieldActor.cs
  Maple2.Server.Game/Model/Field/Actor/FieldNpc.cs
  Maple2.Server.Game/Model/Field/Actor/IActor.cs
  Maple2.Server.Game/Packets/NpcControlPacket.cs
  Maple2.Tools/VectorMath/Transform.cs
Labels: Field, Skill / Buff
