Repository AngeloTadeucci/Maple2, pull requests merged in 2024-06, with the labels that each got.

#162 Damage Formula
  Maple2.Database/Model/Item/ItemSocket.cs
  Maple2.File.Ingest/Mapper/AdditionalEffectMapper.cs
  Maple2.Model/Game/Item/ItemSocket.cs
  Maple2.Model/Metadata/AdditionalEffectMetadata.cs
  Maple2.Model/Metadata/Constants.cs
  Maple2.Server.Core/Formulas/BonusAttack.cs
  Maple2.Server.Core/Formulas/Damage.cs
  Maple2.Server.Game/Manager/Config/BuffManager.cs
  Maple2.Server.Game/Manager/Config/ConfigManager.cs
  Maple2.Server.Game/Manager/Field/FieldManager.State.cs
  Maple2.Server.Game/Manager/Field/FieldManager.cs
  Maple2.Server.Game/Manager/Items/EquipManager.cs
  Maple2.Server.Game/Manager/StatsManager.cs
  Maple2.Server.Game/Model/Field/Actor/Actor.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/AiState.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/AnimationState.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/MovementState.cs
  Maple2.Server.Game/Model/Field/Actor/ActorStateComponent/MovementStateStates/MovementState.Walk.cs
  Maple2.Server.Game/Model/Field/Actor/FieldActor.cs
  Maple2.Server.Game/Model/Field/Actor/FieldNpc.cs
  Maple2.Server.Game/Model/Field/Actor/FieldPlayer.cs
  Maple2.Server.Game/Model/Field/Actor/IActor.cs
  Maple2.Server.Game/Model/Field/Buff.cs
  Maple2.Server.Game/Model/Field/Entity/FieldSkill.cs
  Maple2.Server.Game/Model/Skill/DamagePropertyRecord.cs
  Maple2.Server.Game/Model/Skill/DamageRecord.cs
  Maple2.Server.Game/Model/Skill/DotDamageRecord.cs
  Maple2.Server.Game/Model/Skill/HealDamageRecord.cs
  Maple2.Server.Game/Model/Stats.cs
  Maple2.Server.Game/PacketHandlers/FallDamageHandler.cs
  Maple2.Server.Game/PacketHandlers/ItemEquipHandler.cs
  Maple2.Server.Game/PacketHandlers/ItemSocketHandler.cs
  Maple2.Server.Game/PacketHandlers/SkillHandler.cs
  Maple2.Server.Game/Packets/FieldPacket.cs
  Maple2.Server.Game/Packets/PlayerInfoPacket.cs
  Maple2.Server.Game/Packets/ProxyObjectPacket.cs
  Maple2.Server.Game/Packets/StatsPacket.cs
  Maple2.Server.Game/Session/GameSession.cs
  Maple2.Server.Game/Util/DamageCalculator.cs
  Maple2.Server.Game/Util/ItemStatsCalculator.cs
  Maple2.Server.Game/Util/SkillUtils.cs
Labels: Field, Character

#173 Npc Talk fixes
  Maple2.Server.Game/Manager/NpcScriptManager.cs
  Maple2.Server.Game/PacketHandlers/NpcTalkHandler.cs
  Maple2.Server.Game/Util/NpcTalkUtil.cs
Labels: Npc Talk / Quest

#181 Handlers for Guild CheckIn, UpdateLeader, UpdateNotice, UpdateEmblem
  Maple2.Model/Game/Guild/GuildMember.cs
  Maple2.Model/Metadata/Constants.cs
  Maple2.Server.Core/PacketHandlers/LogSendHandler.cs
  Maple2.Server.Core/proto/channel/channel.proto
  Maple2.Server.Core/proto/world/world.proto
  Maple2.Server.Game/Manager/ExperienceManager.cs
  Maple2.Server.Game/Manager/GuildManager.cs
  Maple2.Server.Game/PacketHandlers/GuildHandler.cs
  Maple2.Server.Game/PacketHandlers/UgcHandler.cs
  Maple2.Server.Game/Packets/GuildPacket.cs
  Maple2.Server.Game/Scripting/Trigger/TriggerScriptLoader.cs
  Maple2.Server.Game/Service/ChannelService.Guild.cs
  Maple2.Server.Game/Util/ConditionUtil.cs
  Maple2.Server.World/Containers/ClubManager.cs
  Maple2.Server.World/Containers/GuildLookup.cs
  Maple2.Server.World/Containers/GuildManager.cs
  Maple2.Server.World/Service/WorldService.Guild.cs
  Maple2.Server.World/Service/WorldService.Party.cs
Labels: Guild
